.Quickpagewrap{
   margin-left: 30%;
   margin-top: 16%;
   padding-left:13%;
   width: 50%;
}


.yourname {
    font-style: Arial;
    font-size: 12px;
   
}


.next {
    padding-top:15%;
}


label {

    font-weight: 400;

}

.file { position: relative; height: 30px; width: 100px; }
.file > input[type="file"] { position: absoulte; opacity: 0; top: 0; left: 0; right: 0; bottom: 0 }
.file > label { position: absolute; top: 0; right: 0; left: 0; bottom: 0; background-color: #666; color: #fff; line-height: 30px; text-align: center; cursor: pointer; }




