.Quickpagewrap{
   margin-left: 30%;
   margin-top: 16%;
   padding-left:13%;
   width: 50%;
}


.yourname {
    font-style: Arial;
    font-size: 12px;
   
}


.next {
    padding-top:25%;
}


label {

    font-weight: 400;

}


